<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>faseGrupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{super1}}Superchichas 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{super2}}Superchichas 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{super3}}Superchichas 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{super4}}Superchichas 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{fantasticas1}}Fantasticas 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{fantasticas1}}Fantasticas 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{fantasticas1}}Fantasticas 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{fantasticas1}}Fantasticas 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{harryquin1}}Harry Quin 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{harryquin1}}Harry Quin 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{harryquin1}}Harry Quin 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{harryquin1}}Harry Quin 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 4</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{ita1}}Ita 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{ita2}}Ita 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{ita3}}Ita 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{ita4}}Ita 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 5</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{despeinadas1}}Despeinadas 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{despeinadas2}}Despeinadas 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{despeinadas3}}Despeinadas 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{despeinadas4}}Despeinadas 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 6</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{magdalenas1}}Magdalenas 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{magdalenas2}}Magdalenas 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{magdalenas3}}Magdalenas 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{magdalenas4}}Magdalenas 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 7</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{presidentas1}}Presidentas 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{presidentas2}}Presidentas 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{presidentas3}}Presidentas 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{presidentas4}}Presidentas 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Grupo 8</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{gallineras1}}Gallineras 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{gallineras2}}Gallineras 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{gallineras3}}Gallineras 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{gallineras4}}Gallineras 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
