<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/esquemas"></ion-back-button>
    </ion-buttons>
    <ion-title>Fase de Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Grupo A</h5>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let equipo of equipos" class="ion-text-center">
        <ion-label>{{equipo.Nombre_Equipo}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
