<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Jugadoras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-title class="ion-text-center">Jugadoras</ion-title>
  </ion-card>
  <ion-card class="tabla">
    <ion-grid fixed>
      <ion-card>
        <ion-row>
          <ion-col size="6" class="ion-text-center columna">
            <ion-item color="secondary">
              <ion-text>Jugadoras</ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-text-center columna">
            <ion-item color="secondary">
              <ion-text>Puntos</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-text-center columna">
            <ion-item>
              <ion-text>{{jugadora}}</ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-text-center columna">
            <ion-item>
              <ion-text>Puntos</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>
