<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      <ion-label>Elija una ronda</ion-label>
      <ion-select>
        <ion-select-option value="rondaGrupos">Ronda de Grupos</ion-select-option>
        <ion-select-option value="octavosDeFinal">Octavos de Final</ion-select-option>
        <ion-select-option value="cuartosDeFinal">Cuartos de Final</ion-select-option>
        <ion-select-option value="semifinal">Semifinal</ion-select-option>
        <ion-select-option value="final">Final</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-subtitle color="tertiary">
      Elija un partido para ver mas informacion
    </ion-card-subtitle>
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="ion-text-center"> Fecha </ion-col>
            <ion-col size="4" class="ion-text-center" color="primary">
              <b> 1 </b>
            </ion-col>
            <ion-col size="1" class="ion-text-center"> vs </ion-col>
            <ion-col size="4" class="ion-text-center" color="primary">
              <b> 2 </b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-col class="ion-text-right">
        <ion-button expands="" routerLink="/encuentro">
          Ver
        </ion-button>
      </ion-col>
    </ion-list>
  </ion-card>
</ion-content>
