<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- SE ELIGE LA RONDA PARA MOSTRAR LOS ENCUENTROS -->
    <ion-item color="secondary">
      <ion-label>Elija una ronda</ion-label>
      <ion-select (ionChange)="obtenerOpcion($event)">
        <ion-select-option value="1">Grupos</ion-select-option>
        <ion-select-option value="2">Octavos</ion-select-option>
        <ion-select-option value="3">Cuartos</ion-select-option>
        <ion-select-option value="4">Semifinal</ion-select-option>
        <ion-select-option value="5">Finales</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item
      color="warning"
      class="ion-text-center"
      *ngIf="!seMostroEncuentros; else contenido"
    >
      <ion-thumbnail id="up-arrow" slot="end">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-thumbnail>
      <h1>
        <b>Debe seleccionar una ronda para visualizar encuentros aquí</b>
      </h1>
    </ion-item>

    <ng-template #contenido>
      <ion-card-subtitle color="tertiary">
        Elija un partido para ver mas informacion
      </ion-card-subtitle>

      <!-- LISTA DE ENCUENTROS DE LA RONDA SELECCIONADA -->
      <ion-list>
        <ion-item
          (click)="enviarInfoEncuentro(i)"
          *ngFor="let encuentro of encuentros; let i = index;"
          class="ion-text-center"
        >
          <ion-grid>
            <ion-row>
              <ion-col size="3" class="ion-text-center"
                >{{encuentro.Fecha}}</ion-col
              >
              <ion-col size="4" class="ion-text-center" color="primary">
                {{encuentro.Cod_Equipo1}}
              </ion-col>
              <ion-col size="1" class="ion-text-center"> vs </ion-col>
              <ion-col size="4" class="ion-text-center" color="primary">
                {{encuentro.Cod_Equipo2}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-card>
</ion-content>
