<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/esquemas"></ion-back-button>
    </ion-buttons>
    <ion-title>Final</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="tabla">
    <ion-card-subtitle class="tituloFinal">
      Partido por el titulo
    </ion-card-subtitle>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img
            src="../../../assets/img/trophy.svg"
            alt="Icono Trofeo"
            id="iconoFinal"
          />
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-row>
          <ion-col size="5" class="ion-text-center columna">
            <ion-text> {{finalista1}} </ion-text>
          </ion-col>
          <ion-col size="2" class="ion-text-center columnaCentro">
            <ion-text> vs </ion-text>
          </ion-col>
          <ion-col size="5" class="ion-text-center columna">
            <ion-text> {{finalista2}} </ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-card>
  <ion-card class="tabla">
    <ion-card-subtitle class="tituloFinal">
      Partido por el tercer puesto
    </ion-card-subtitle>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img
            src="../../../assets/img/bronze-medal.svg"
            alt="Icono TercerLugar"
            id="iconoFinal"
          />
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-row>
          <ion-col size="5" class="ion-text-center columna">
            <ion-text> {{finalista3}} </ion-text>
          </ion-col>
          <ion-col size="2" class="ion-text-center columnaCentro">
            <ion-text> vs </ion-text>
          </ion-col>
          <ion-col size="5" class="ion-text-center columna">
            <ion-text> {{finalista4}} </ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>
