.tituloFinal {
  padding: 1em;
}

#iconoFinal {
  width: 10em;
}

.columna {
  background-color: #457b9d;
  color: aliceblue;
  font-size: 1.3em;
  padding: 1em 0.1em;
}

.columnaCentro {
  background-color: #457b9d;
  color: aliceblue;
  font-size: 1.3em;
  padding: 1em 0;
}
