<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Octavos de Final</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero1}}Primero Grupo 1</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{Segundo8}}Segundo Grupo 8</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero2}}Primero Grupo 2</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo7}}Segundo Grupo 7</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero3}}Primero Grupo 3</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{Segundo6}}Segundo Grupo 6</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 4</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero4}}Primero Grupo 4</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo5}}Segundo Grupo 5</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 5</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero5}}Primero Grupo 5</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo4}}Segundo Grupo 4</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 6</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero6}}Primero Grupo 6</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo3}}Segundo Grupo 3</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Lave 7</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero7}}Primero Grupo 7</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo2}}Segundo Grupo 2</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col name="title">
        <ion-item color="primary" class="ion-text-center">
          <ion-label>
            <h5>Llave 8</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{primero8}}Primero Grupo 8</h5>
          </ion-label>
        </ion-item>
        <ion-item color="secondary" class="ion-text-center">
          <ion-label>
            <h5>{{segundo1}}Segundo Grupo 1</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
