<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/esquemas"></ion-back-button>
    </ion-buttons>
    <ion-title>Octavos de Final</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="tabla">
    <ion-item color="secondary" class="ion-text-center">
      <ion-label>
        <h5>Llave 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{primero1}}Primero Grupo 1</h5>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        <h5>{{Segundo8}}Segundo Grupo 8</h5>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
