<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="end">
      <ion-icon name="home-outline" class="iconoHome"></ion-icon>
    </ion-avatar>
    <ion-title><b> SGTV </b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary" class="ion-text-center">
        Torneo Intercolegiado Femenino Sub 18 del Valle
      </ion-card-title>
      <br />
      <ion-img src="../assets/img/inicioTorneo.webp"></ion-img>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-text color="primary">
        Elija una de las siguientes opciones
      </ion-text>
    </ion-card-content>
    <ion-list>
      <ion-item routerLink="../esquemas">
        <ion-thumbnail slot="start">
          <img src="../../assets/img/torneo.svg" />
        </ion-thumbnail>
        <ion-card-content class="ion-text-justify">
          <h3><b>Esquemas</b></h3>
          <ion-text color="tertiary">
            Aqui encontraras los esquemas de cada ronda
          </ion-text>
        </ion-card-content>
      </ion-item>
      <ion-item routerLink="../calendario">
        <ion-thumbnail slot="start">
          <img src="../../assets/img/calendar.svg" />
        </ion-thumbnail>
        <ion-card-content class="ion-text-justify">
          <h3><b>Calendario</b></h3>
          <ion-text color="tertiary">
            Aqui encontraras la informacion de cada encuentro
          </ion-text>
        </ion-card-content>
      </ion-item>
      <ion-item routerLink="../resultados">
        <ion-thumbnail slot="start">
          <img src="../../assets/img/match.svg" />
        </ion-thumbnail>
        <ion-card-content class="ion-text-justify">
          <h3><b>Resultados</b></h3>
          <ion-text color="tertiary">
            Aqui encontraras las estadisticas de cada uno de los encuentros
          </ion-text>
        </ion-card-content>
      </ion-item>
      <ion-item routerLink="../estadisticas">
        <ion-thumbnail slot="start">
          <img src="../../assets/img/best-employee.svg" />
        </ion-thumbnail>
        <ion-card-content class="ion-text-justify">
          <h3><b>Estadisticas</b></h3>
          <ion-text color="tertiary">
            Aqui encontraras las estadisticas de cada uno de los equipos y de
            quienes lo conforman
          </ion-text>
        </ion-card-content>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
